In [1]:
import pandas as pd  
import numpy as np  
import glob  
import sys

In [22]:
df1 = pd.read_excel('업소1.xlsx')

In [23]:
df1.shape

(573680, 39)

In [24]:
df2 = pd.read_excel('업소2.xlsx')

In [25]:
df2.shape

(528311, 39)

In [26]:
df3=pd.read_excel('업소3.xlsx')

In [27]:
df3.shape

(869907, 39)

In [28]:
df4 = pd.read_excel('업소4.xlsx')

In [29]:
df4.shape

(769298, 39)

In [ ]:
new_df=df1.merge(df2).merge(df3).merge(df4)

In [ ]:
new_df.shape

In [67]:
all_data=pd.concat([df1,df2,df3,df4])

In [68]:
all_data.shape

(2741196, 39)

In [69]:
#데이터 갯수 확인
all_data.shape

(2741196, 39)

In [70]:
all_data.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19905471,와라와라호프,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1.168011e+24,대치상가,서울특별시 강남구 남부순환로 2933,135280.0,6280.0,NaN,1,NaN,127.061026,37.493922
1,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1.168010e+24,NaN,서울특별시 강남구 선릉로93길 6,135080.0,6149.0,NaN,1,NaN,127.047883,37.505675
2,19911801,프로포즈,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1.154510e+24,NaN,서울특별시 금천구 가산로 34-6,153010.0,8545.0,NaN,1,NaN,126.899220,37.471711
3,19912201,싱싱커피&토스트,NaN,Q,음식,Q07,패스트푸드,Q07A10,토스트전문,I56192,...,2.653010e+24,산업용품유통상가,부산광역시 사상구 괘감로 37,617726.0,46977.0,NaN,1,26,128.980455,35.159774
4,19932756,가락사우나내스낵,NaN,F,생활서비스,F09,대중목욕탕/휴게,F09A02,사우나/증기탕/온천,S96121,...,1.171011e+24,NaN,서울특별시 송파구 가락로 71,138846.0,5690.0,NaN,1,NaN,127.104071,37.500249

In [71]:
all_data.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [72]:
all_data= all_data.loc[:,['상가업소번호','상호명','지점명','상권업종소분류코드','상권업종대분류명','상권업종중분류명','상권업종소분류명','법정동코드','시도명','시군구명','법정동명','도로명주소','경도','위도','건물명','동정보','층정보','호정보']]

In [73]:
all_data.head(1)

,상가업소번호,상호명,지점명,상권업종소분류코드,상권업종대분류명,상권업종중분류명,상권업종소분류명,법정동코드,시도명,시군구명,법정동명,도로명주소,경도,위도,건물명,동정보,층정보,호정보
0,19905471,와라와라호프,NaN,Q09A01,음식,유흥주점,호프/맥주,1.168011e+09,서울특별시,강남구,대치동,서울특별시 강남구 남부순환로 2933,127.061026,37.493922,대치상가,NaN,1,NaN

In [1]:
all_data.to_csv("all.csv", header=True,  encoding = 'cp949', index=False)

NameError: name 'df_maj' is not defined

In [3]:
df.shape

(16819, 4)

In [10]:
df.columns

Index(['category_code', 'major_category', 'mid_category', 'sub_category'], dtype='object')

In [4]:
df.head(1)

   district_code   sido sigungu dong
0   1.168011e+09  서울특별시     강남구  대치동

In [12]:
df['parent'] = np.nan

In [63]:
df['mid'] = np.nan

In [7]:
df.head(1)

   district_code   sido sigungu dong
0   1.168011e+09  서울특별시     강남구  대치동

In [5]:
df= df.drop_duplicates('district_code',keep='first')

In [6]:
df.shape

(16819, 4)

In [13]:
df['']=df['major_category']

In [68]:
df['mid']=df['sub_category']

In [14]:
df.head(1)

  category_code major_category mid_category sub_category parent
0        Q09A01             음식         유흥주점        호프/맥주     음식

In [8]:
df_maj = df.loc[:,['sido','sigungu','dong']]

In [9]:
df_maj.head(1)

    sido sigungu dong
0  서울특별시     강남구  대치동

In [21]:
df_maj.columns=['label','value']

In [22]:
df_maj.head(1)

  label value
0    음식    음식

In [48]:
df_maj= df_maj.drop_duplicates('label',keep='first')

In [10]:
df_maj.shape

(16819, 3)

In [11]:
df = pd.read_csv('dis.csv')

FileNotFoundError: [Errno 2] File dis.csv does not exist: 'dis.csv'

In [45]:
df.head(1)

  parent  label  value
0   유흥주점  호프/맥주  호프/맥주

In [56]:
df.shape

(94, 3)

In [50]:
df = df.sort_values(by=['parent'], axis=0)

In [51]:
df = df .drop_duplicates('label',keep='first')

In [54]:
df.shape

(737, 3)

In [15]:
df_maj.to_csv("dis.csv", header=True,  encoding = 'utf-8', index=False)

In [38]:
df.to_json('mid.json', orient='table')

In [16]:
import csv
import json

with open('dis.csv',"r",encoding='utf8') as f:
       reader = csv.DictReader(f)
       rows = list(reader)

with open('dis.json', 'w', encoding='utf8') as f:
    json.dump(rows, f,ensure_ascii = False)

In [66]:
json_data = pd.to_json('mid.json',encoding = 'cp949')

AttributeError: module 'pandas' has no attribute 'to_json'

In [24]:
df.major_category.mid_category.sub_category.map(len).max()

AttributeError: 'Series' object has no attribute 'mid_category'

In [ ]:
df1 = pd.to_json('전체1.json',encoding = 'utf-8')

In [ ]:
import csv
import json

data = []
with open('전체_utf.csv','r',encoding = 'utf-8',newline="") as f:
       for row in csv.DictReader(f):
           data.append(row)

json_data = json.dumps(data)

In [9]:
import csv
import json

input_file_name = "전체_utf.csv"
output_file_name = "data.txt"

with open(input_file_name, "r", encoding="utf-8", newline="") as input_file, \
        open(output_file_name, "w", encoding="utf-8", newline="") as output_file:
        
    reader = csv.reader(input_file)

    # 첫 줄은 col_names 리스트로 읽어 놓고
    col_names = next(reader)

    # 그 다음 줄부터 zip으로 묶어서 json으로 dumps
    for cols in reader:
        doc = {col_name: col for col_name, col in zip(col_names, cols)}
        print(json.dumps(doc, ensure_ascii=False), file=output_file)

In [2]:
import csv
import json

with open('business_category.csv',"r", encoding="utf-8") as f:
       reader = csv.DictReader(f)
       rows = list(reader)

with open('business_category.json', 'w', encoding="utf-8") as f:
       json.dump(rows, f)

In [ ]:
print(json_data)

In [77]:
df.shape

(2741196, 18)

In [78]:
business = df.loc[:,['상가업소번호','상호명','지점명','상권업종소분류코드','법정동코드','도로명주소','경도','위도','건물명','동정보','층정보','호정보']]

In [79]:
business.shape

(2741196, 12)

In [49]:
display(business[business.duplicated()])

Empty DataFrame
Columns: [상가업소번호, 상호명, 지점명, 상권업종소분류코드, 법정동코드, 도로명주소, 경도, 위도, 건물명, 동정보, 층정보, 호정보]
Index: []

In [ ]:
d = business['상가업소번호']==19905471

In [ ]:
f=business[d]

In [ ]:
f

In [80]:
business.columns=['business_code','business_name','branch_name','business_type','address_code','roadName_address','latitude','longitude','building_name','building','floor','room_no']

In [52]:
business.duplicated(['business_code'])

0          False
1          False
2          False
3          False
4          False
           ...
2741191    False
2741192    False
2741193    False
2741194    False
2741195    False
Length: 2741196, dtype: bool

In [53]:
business = business.drop_duplicates('business_code',keep='first')

In [54]:
business.shape

(2741196, 12)

In [93]:
business.isnull().any()

business_code       False
business_name        True
branch_name          True
business_type       False
address_code         True
roadName_address    False
latitude            False
longitude           False
building_name        True
building             True
floor                True
room_no              True
dtype: bool

In [81]:
business.to_csv('business.csv', encoding = 'utf-8',index=False)

In [82]:
df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종소분류코드', '상권업종대분류명', '상권업종중분류명', '상권업종소분류명',
       '법정동코드', '시도명', '시군구명', '법정동명', '도로명주소', '경도', '위도', '건물명', '동정보',
       '층정보', '호정보'],
      dtype='object')

In [83]:
district = df.loc[:, ['법정동코드','시도명','시군구명','법정동명']]

In [84]:
district.shape

(2741196, 4)

In [85]:
district.head(1)

          법정동코드    시도명 시군구명 법정동명
0  1.168011e+09  서울특별시  강남구  대치동

In [86]:
district.columns=['district_code','sido','sigungu','dong']

In [87]:
district = district.drop_duplicates('district_code',keep='first')

In [88]:
district.shape

(16819, 4)

In [89]:
district.to_csv('district.csv', encoding = 'utf-8',index=False)

In [94]:
business_category=df.loc[:,['상권업종소분류코드','상권업종대분류명','상권업종중분류명','상권업종소분류명']]

In [95]:
business_category.shape

(2741196, 4)

In [96]:
business_category.head(1)

  상권업종소분류코드 상권업종대분류명 상권업종중분류명 상권업종소분류명
0    Q09A01       음식     유흥주점    호프/맥주

In [97]:
business_category.columns=['category_code','major_category','mid_category','sub_category']

In [98]:
business_category = business_category.drop_duplicates('category_code',keep='first')

In [99]:
business_category.shape

(737, 4)

In [100]:
business_category.to_csv('business_category.csv', encoding = 'utf-8',index=False)

In [8]:
df1 = pd.read_csv('business_category.csv')

In [9]:
df1.shape

(737, 4)

In [5]:
df2 = pd.read_csv('business.csv')
print(df2.shape)

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2741196, 12)

In [6]:
df3= pd.read_csv('district.csv')
df3.shape

(16819, 4)

In [10]:
df1.columns

Index(['category_code', 'major_category', 'mid_category', 'sub_category'], dtype='object')

In [11]:
df2.columns

Index(['business_code', 'business_name', 'branch_name', 'business_type',
       'address_code', 'roadName_address', 'latitude', 'longitude',
       'building_name', 'building', 'floor', 'room_no'],
      dtype='object')

In [12]:
df1.isnull().sum()

category_code     0
major_category    0
mid_category      0
sub_category      0
dtype: int64

In [13]:
df2.isnull().sum()

business_code             0
business_name            10
branch_name         2407874
business_type             0
address_code              7
roadName_address          0
latitude                  0
longitude                 0
building_name       1651421
building            2524654
floor               1409605
room_no             2291579
dtype: int64

In [14]:
df1['business_type'] = df1['category_code']

In [16]:
df_merge= pd.merge(df1, df2 , on='business_type')
df_merge.shape

(2741196, 16)

In [19]:
len(df1['business_type'].unique())

737

In [20]:
len(df2['business_type'].unique())

737