# Business 데이터 처리

In [1]:
import pandas as pd  
import numpy as np  
import glob  
import sys

In [2]:
df = pd.read_csv('all.csv',  encoding = 'cp949')

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(2741196, 18)

In [4]:
df.head(1)

,상가업소번호,상호명,지점명,상권업종소분류코드,상권업종대분류명,상권업종중분류명,상권업종소분류명,법정동코드,시도명,시군구명,법정동명,도로명주소,경도,위도,건물명,동정보,층정보,호정보
0,19905471,와라와라호프,NaN,Q09A01,음식,유흥주점,호프/맥주,1.168011e+09,서울특별시,강남구,대치동,서울특별시 강남구 남부순환로 2933,127.061026,37.493922,대치상가,NaN,1,NaN

## business 파일 만들기

In [5]:
business = df.loc[:,['상권업종소분류명','상호명','지점명','법정동명','도로명주소','경도','위도','건물명','동정보','층정보','호정보']]

In [6]:
business.shape

(2741196, 11)

In [7]:
business.head(1)

,상권업종소분류명,상호명,지점명,법정동명,도로명주소,경도,위도,건물명,동정보,층정보,호정보
0,호프/맥주,와라와라호프,NaN,대치동,서울특별시 강남구 남부순환로 2933,127.061026,37.493922,대치상가,NaN,1,NaN

## Column 명 처리

In [8]:
business.columns=['sub','business_name','branch_name','address_name','roadName_address','latitude','longitude','building_name','building','floor','room_no']

In [9]:
business.shape

(2741196, 11)

In [10]:
business.head(1)

,sub,business_name,branch_name,address_name,roadName_address,latitude,longitude,building_name,building,floor,room_no
0,호프/맥주,와라와라호프,NaN,대치동,서울특별시 강남구 남부순환로 2933,127.061026,37.493922,대치상가,NaN,1,NaN

## rating, image column 추가

In [11]:
business['rating'] =np.nan

In [12]:
business['image'] =np.nan

In [13]:
business.head(1)

,sub,business_name,branch_name,address_name,roadName_address,latitude,longitude,building_name,building,floor,room_no,rating,image
0,호프/맥주,와라와라호프,NaN,대치동,서울특별시 강남구 남부순환로 2933,127.061026,37.493922,대치상가,NaN,1,NaN,NaN,NaN

In [14]:
business.to_csv("business.csv", header=True,  encoding = 'cp949', index=False)