# 업소 데이터 한 파일에 합치기

In [1]:
import pandas as pd  
import numpy as np  
import glob  
import sys

In [3]:
df1 = pd.read_excel('업소1.xlsx')

In [4]:
df1.shape

(573680, 39)

In [5]:
df2 = pd.read_excel('업소2.xlsx')

In [6]:
df2.shape

(528311, 39)

In [7]:
df3=pd.read_excel('업소3.xlsx')

In [8]:
df3.shape

(869907, 39)

In [9]:
df4 = pd.read_excel('업소4.xlsx')

In [10]:
df4.shape

(769298, 39)

## 전체 데이터 합치기

In [36]:
all_data=pd.concat([df1,df2,df3,df4])

In [37]:
#전체 데이터 갯수 확인
all_data.shape

(2741196, 39)

In [38]:
all_data.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19905471,와라와라호프,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1.168011e+24,대치상가,서울특별시 강남구 남부순환로 2933,135280.0,6280.0,NaN,1,NaN,127.061026,37.493922
1,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1.168010e+24,NaN,서울특별시 강남구 선릉로93길 6,135080.0,6149.0,NaN,1,NaN,127.047883,37.505675
2,19911801,프로포즈,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1.154510e+24,NaN,서울특별시 금천구 가산로 34-6,153010.0,8545.0,NaN,1,NaN,126.899220,37.471711
3,19912201,싱싱커피&토스트,NaN,Q,음식,Q07,패스트푸드,Q07A10,토스트전문,I56192,...,2.653010e+24,산업용품유통상가,부산광역시 사상구 괘감로 37,617726.0,46977.0,NaN,1,26,128.980455,35.159774
4,19932756,가락사우나내스낵,NaN,F,생활서비스,F09,대중목욕탕/휴게,F09A02,사우나/증기탕/온천,S96121,...,1.171011e+24,NaN,서울특별시 송파구 가락로 71,138846.0,5690.0,NaN,1,NaN,127.104071,37.500249

In [39]:
all_data.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

## Column 정리

In [40]:
all_data= all_data.loc[:,['상가업소번호','상호명','지점명','상권업종소분류코드','상권업종대분류명','상권업종중분류명','상권업종소분류명','법정동코드','시도명','시군구명','법정동명','도로명주소','경도','위도','건물명','동정보','층정보','호정보']]

In [41]:
all_data.head(1)

,상가업소번호,상호명,지점명,상권업종소분류코드,상권업종대분류명,상권업종중분류명,상권업종소분류명,법정동코드,시도명,시군구명,법정동명,도로명주소,경도,위도,건물명,동정보,층정보,호정보
0,19905471,와라와라호프,NaN,Q09A01,음식,유흥주점,호프/맥주,1.168011e+09,서울특별시,강남구,대치동,서울특별시 강남구 남부순환로 2933,127.061026,37.493922,대치상가,NaN,1,NaN

In [42]:
all_data.shape

(2741196, 18)

In [43]:
all_data.to_csv("all.csv", header=True,  encoding = 'cp949', index=False)